<!-- Toolbar grid -->
<nav style="margin-top: 20px" class="primary-color">
  <div class="nav-wrapper" style="padding-left: 10px">
    <p>Consoles/plataformas</p>
  </div>
</nav>

<div style="min-height: 200px; background-color: white; margin-top: 20px">
  <div style="padding: 20px; text-align: right">
    <a class="waves-effect waves-light btn" (click)="onNovo()"
      ><i class="material-icons left">add</i>Novo</a
    >
  </div>

  <div>
    <table class="responsive-table highlight crud-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let consolePlataforma of consolesPlataformas"
          (click)="onClickConsolePlataforma(consolePlataforma)"
        >
          <td>{{ consolePlataforma.id }}</td>
          <td>{{ consolePlataforma.nome }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
