/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

:root {
    --dark: rgb(52, 58, 64);
    --primaryColor: rgb(119, 73, 248);
    --primaryColorDark: rgb(82, 39, 204);
    --lightGray: rgb(198, 203, 209);
}

html, body, app-root {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% da altura da janela */
}

router-outlet{
    flex-grow: 1;
    padding: 24px;
    background-color: var(--lightGray);;
}

.dark-color {
    background-color: var(--dark);
}

.primary-color {
    background-color: var(--primaryColor);
}

.primary-color-dark {
    background-color: var(--primaryColorDark);
}

.light-gray {
    background-color: var(--lightGray);
}